.icon{
    text-align: center;
    font-family: 'Lato', sans-serif;
    line-height: 26px;
    font-size: 14px;
    color: #333;
    min-height: 1px;
    padding-right: 40px;
    padding-left: 40px;
}
.envelope{
    display: inline-block;
    color: #131313;
    font-size: 2em;
    line-height: 45px;
    margin-bottom: 10px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.envelope img {
    width: 28px;
    height: 28px;
}
.icon p{
    color: #131313;
    margin: 0 0 30px;
    font-size: 16px;
}