@import "src/common/styles/sass/variables.scss";
.skillsBlock{
    min-height: 30vh;
    padding: 95px 0 50px;
    background: $whiteColor;
    .skillsContainer{
        justify-content: center;
        @media screen and (max-width: 768px){
            width: 90%;
        }
        @media screen and (min-width: 1200px){
            width: 1170px;
        }
        .skills{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

    }
}

